/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --blue-dark: #0829B1;
    --blue-bright: #164DBC;
    --grey--dark: #333751;
    --grey: #9498A5;
    --white: #fff;
    --yellow: #FFD012;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: linear-gradient(270deg, #E6F4FC 48.49%, #FFFFFF 49.85%);
    position: fixed;
    box-shadow: 0px 4px 4px rgba(40, 72, 198, 0.2);
    z-index: 100;
}

.logo {
    margin-left: 60px;
}

.logo h1 {
    font-weight: bold;
    font-size: 25px;
    color: var(--blue-dark);
}

.navigation {
    margin-right: 60px;
    overflow: hidden;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
    color: var(--grey);
}

.nav-link:hover {
    color: var(--blue-bright);
    text-decoration: underline;
    transition: all .5s ease-in-out;
}

.btn {
    display: inline-block;
    height: 50px;
    width: 160px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    background: var(--blue-bright);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:hover {
    background: var(--blue-dark);
    transition: all .5s ease-in-out;
}

/* Landing */

.landing {
    display: flex;
}

.landing-text {
    width: 50%;
    margin: 190px 0 0 60px;
}

.landing-text h2 {
    color: var(--blue-dark);
    width: 414px;
    font-size: 55px;
    margin-bottom: 30px;
}

.landing-text .paragraph {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: var(--grey);
    width: 382px;
    margin-bottom: 60px;
}

.landing-image {
    overflow: hidden;
    margin-top: 90px;
}

.landing-icon {

    display: flex;
    align-items: center;
    width: 170px;

}

.landing-icon-2 {

    display: flex;
    align-items: center;
    margin-left: 45px;
    width: 170px;
}

.landing-icon-3 {

    display: flex;
    align-items: center;
    margin-top: 150px;


}

.landing-icon span,
.landing-icon-2 span,
.landing-icon-3 span {
    color: var(--blue-dark);
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 600;
}

.icon-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    text-align: center;
    color: var(--yellow);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(255, 208, 18, 0.3));
    z-index: -1;

}

.icon-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(43, 75, 201, 0.1);
    text-align: center;
    color: var(--blue-bright);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(255, 208, 18, 0.3));

}

.icon-1 i {
    font-size: 25px;
}

.info-container {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    width: 900px;
    height: 140px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(40, 72, 198, 0.2);
    display: flex;
    padding: 35px;
}

.info-icon-text {
    display: flex;
    align-items: center;
}


.info-icon-1,
.info-icon-2,
.info-icon-3 {
    width: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-icon-text span {
    color: var(--blue-dark);
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.info-icon-1 p {

    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: var(--blue-dark);
    text-align: left;
    margin-left: 90px;
}

.info-btn {
    margin-left: 2rem;
}

.logos-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 120px;
    width: 95%;
}

/* About section */

.about {
    width: 90%;
    margin: 160px auto;
}

.about-text h2 {
    font-size: 36px;
    color: var(--blue-dark);
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    width: 490px;
    color: var(--grey);
    margin-bottom: 4rem;
}

.card-about-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}


.card {
    background-color: var(--white);
    width: 260px;
    height: 320px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.card:hover {
    box-shadow: 0px 10px 20px 2px rgba(230, 244, 252, 0.9);
    border-radius: 5px;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F1F5FF;
    transition: all .5s ease-in-out;
}

.card-icon:hover {
    box-shadow: 0px 4px 20px rgba(40, 72, 198, 0.29);
    border-radius: 5px;
}

.card-icon i {
    color: var(--blue-dark);
    font-size: 25px;
}

.card h3 {
    color: var(--blue-dark);
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
}

.card p {
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    color: var(--grey);
    margin-top: 20px;
}


/* Preparations */


.preparations {
    outline: 1px solid;
    display: flex;
    height: 850px;
}

.prepa-text {
    font-weight: 600;
    margin: 60px;
}

.prepa-text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--blue-dark);
    margin-bottom: 36px;
}

.prepa-text p {
    color: var(--grey);
    width: 537px;
    margin-bottom: 62px;
}

details {
    width: 454px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

details:hover {
    box-shadow: 0px 4px 20px rgba(43, 75, 201, 0.5);
    border-radius: 5px;
    border: none;
    transition: all .5s ease-in-out;
}

summary {
    text-align: center;
    line-height: 61px;
    background-color: var(--white);
    width: 454px;
    height: 61px;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
}

.summary-text {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-dark);
}

.summary-text .icon-2 {
    margin: 0 1.5rem;
}

.summary {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    width: 454px;
    height: 138px;
    border-radius: 5px;
}

.summary p {
    font-weight: 500;
    color: #000;
    font-size: 16px;
    margin: 2rem;
    text-align: left;
    width: 454px;
}

/* Emergency */

.emergency {
    display: flex;
    justify-content: space-between;
}

.emergency-text {
    padding: 60px;
}

.emergency-text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--blue-dark);
    margin-bottom: 36px;
}

.emergency-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: var(--grey);
}

.emergency-txt {
    width: 500px;
    margin-bottom: 60px;
}

.contact-cards {
    display: flex;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 250px;
    height: 225px;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.contact-card:nth-child(1){
    margin-right: 4rem;
}

.contact-card:hover{
    box-shadow: 0px 4px 20px 1px rgba(43, 75, 201, 0.3);
}

.icon-text {
    margin-top: 40px;
    display: flex;
}

.txt p {
    color: var(--blue-dark);
    font-size: 15px;
}

.icon-3 {
    background-color: #F1F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-right: 19px;
}

.icon-3 i {
    color: var(--blue-dark);
    font-size: 25px;
}

.btn-call {
    color: var(--blue-dark);
    background-color: #F1F5FF;
    cursor: pointer;
    width: 80%;
    margin-top: 30px;
}

.btn-call:hover {
    color: var(--white);
}